*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: fit-content;

}
nav{
    background-color: rgb(71, 192, 253);
    display: flex;
    padding-top: 15px;
}
#navmenu{
   justify-content: space-around;
}
#logosunny{
    display: flex;
    width: 50%;
    
}
#menu3{
    align-self: flex-start;

}
#container{
    background-color: #fff;
    
}
#uno_box{
    position: relative;
}
#uno_box h1{
    position: absolute;
    top: 30%;
}
#uno_box .arrow{
    position: absolute;
    top: 55%;
    left:45%;
}
h1{
    font-family: 'Fraunces', serif;
    text-align: left;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0 50px;
    font-size: 2.5em ;

}
h2{
    font-family: 'Fraunces', serif;
    text-align: center;

}
h3{
    font-family: 'Fraunces', serif;
    text-align: center;

}
p{
    font-family:'Barlow', sans-serif;
    text-align: center;
    color: hsl(210, 4%, 67%);
}
#naranja{
    display: flex;
    width: 100%;
}
#blanquillo{
    display: flex;
    width: 100%;
}
#copa{
    display: flex;
    width: 100%;
}
#cerezas{
    display: flex;
    width: 100%;
    position: relative;
}
#graphic_design{
    position: absolute;
    
    transform: translate(50%, -700%);
    color: hsl(167, 40%, 24%);
}
#p_gd{
    position: absolute;
    width: 90%;
    transform: translate(5%, -250%);
    color: hsl(167, 40%, 24%)

}
#mandarina{
    display: flex;
    width: 100%;
    position: relative;
}
#photography{
    position: absolute;
    transform: translate(60%, -700%);
    color: hsl(198, 62%, 26%);
}
#p_photography{
    position: absolute;
    width: 90%;
    transform: translate(5%, -250%);
    color: hsl(198, 62%, 26%);

}
#testimonials{
    font-size: 1rem;
    color:hsl(210, 4%, 67%);
    padding: 3rem;

}
ul{
    text-align: center;
}


.img_clientes{
    border-radius: 50%;
    width: 20%;
    
}
.p_clientes{
    padding: 30px 0 ;
    width: 80%;
    margin: auto;
    font-size: .95rem;
}

.p_name{
    font-family: 'Fraunces', serif;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: .95rem;
    color: rgb(0, 0, 0)
}
.p_puesto{
    font-family:'Barlow', sans-serif;
    font-size: .75rem;
    padding-bottom: 60px;
}
#img_x4{
    width: 375px;
    height:375px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.img_c1{
    display: flex;
    width: 100%;
    height: 100%;   
}
.img_c2{
    display: flex;
    width: 100%;
    height: 100%;   
}
.img_c3{
    display: flex;
    width: 100%;
    height: 100%;   
}
.img_c4{
    display: flex;
    width: 100%;
    height: 100%;   
}

#footer{
    background-color: rgb(144, 212, 197);
    
}