*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#tablero{
    background-color: rgb(236, 236, 236);
    width: 90%;
    height: fit-content;
    margin-top: 3rem;
    margin: auto;
    margin-top: 30px;
    border-radius: 1rem;
    align-content: center;
}
h1{
    text-align: center;
    padding-top: 1rem;
    font-size: 3rem;

}
#palabra_user{
    background-color: #fff;
    justify-items: center;
    


}
#palabra{
    justify-self: center;
    align-items: center;
    text-align: center;
    margin-left: 3rem;
    padding: 12px;
    border-radius: 5px;
    border: none;
}
#puntos_user{
    background-color: rgba(2, 65, 44, 0.829);
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 40px;
}
.imagen{
   width: 50%;
   align-items: left;
   padding-left: 2rem;
   
}
